* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .personals, .valuables, .location{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

.personals input, textarea {
    height: 30px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}
